<h1>Tarefas do projeto <%= @projeto.nome %></h1>

<div>
  <table>
    <thead>
    <tr>
      <th>Descricao</th>
      <th>Responsavel</th>
      <th><th/>
      <th><th/>
    </tr>
    </thead>
    <tbody>
      <%= render partial: 'item_tarefa', collection: @tarefas %>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'Nova Tarefa', new_projeto_tarefa_path(@projeto), :class => 'action' %>
</p>
