<h3> Nova Tarefa </h3>

<form action="/tarefas/create">
	Projeto: <input name='projeto'/> <br/>
	Responsavel: <input name='responsavel'/> <br/>
	Descricao: <textarea name='descricao' cols="60" rows="3"></textarea> <br/>
	<input type='submit' value = 'Gravar'> <br/>
</form>