<% title "Colaborador" %>

<p>
  <strong>Nome:</strong>
  <%= @colaborador.nome %>
</p>

<p>
  <%= link_to "Edit", edit_colaborador_path(@colaborador) %> |
  <%= link_to "Destroy", @colaborador, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", colaboradores_path %>
</p>
