<h2>Projeto</h2>
<p>
	<strong>Nome:</strong>
	<%= @projeto.nome%>
</p>
<p>
	<strong>Descrição:</strong>
	<%= @projeto.descricao %>
</p>
<p>
	<strong>Data Início:</strong>
	<%= @projeto.data_inicio %>
</p>
<p>
<p>
	<%= link_to "Voltar para Lista", :action => :index%>	
</p>
