<% if tarefas.empty?%>
<p>Nenhuma Tarefa Cadastrada!</p>
<% else %>
<table>
  <tr>
    <th>Descricao</th>
    <th>Data Finalizacao</th>
    <th>Colaborador</th>
    <th>Projeto</th>
  </tr>
  <%= render :partial => 'tarefa', :collection => tarefas %>
</table>
<% end %>